* {
    margin: 0;
    padding: 0;
}
.page-1 {
    padding: 200px 200px;
    background-color: #EEFCFA;
    text-align: center;
}
h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 70px;
    color: #041A17;
}
span {
    display: inline-block;
    width: 350px;
    background: linear-gradient(120deg, #E25568, #D12392);
    background-clip: text;
    text-decoration-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p {
    padding: 20px 0 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
}
.page-2 {
    padding: 50px 50px;
    background-color: #F6DBCB;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px;
    gap: 50px;
}
.grid-items {
    outline: 2px solid black;
    border-radius: 10px;
}
.grid-items:hover {
    transition: .1s;
    box-shadow: 0 0 25px rgba(33,33,33,.8);
}
.web-1 {
    content: url("./Challenge 1 - QR Code Component/design/desktop-design.jpg");
    object-fit: cover;
    max-height: 100%;
    width: 100%;
    border-radius: 10px;
}
.web-2 {
    content: url("./Challenge 2 - Result Summary Component/design/desktop-design.jpg");
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
.web-3 {
    content: url("./Challenge 3 - Product Preview Card Component/design/desktop-design.jpg");
    object-fit: cover;
    max-height: 100%;
    width: 100%;
    border-radius: 10px;
}