@media(orientation: landscape){
    body{
        margin: 17.3rem 0 0;
        font-family: 'Hanken Grotesk', sans-serif;
        background-color: hsla(221, 100%, 96%,0.6);
    }
    h1{
        color: hsl(0, 0%, 100%);
        margin: 0;
    }
    h2{
        margin: 0;
    }
    .container-full{
        width: 46rem;
        margin: 0 auto;
        position: relative;
        border-radius: 2.3125rem;
        background-color: hsl(0, 0%, 100%);
    }
    .container-left-top{
        width: 23rem;
        border-radius: 2.1875rem;
        padding: 2.4125rem 0 3.0375rem 0;
        text-align: center;
        display: inline-block;
        color: hsl(241, 100%, 89%);
        background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    }
    .container-left-top p{
        width: 16.1rem;
        margin: 1.375rem auto 0;
        font-size: 1.125rem;
    }
    .score-circle{
        width: 12.5rem;
        margin: 1.8125rem auto;
        border-radius: 6.25rem;
        background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    }
    .score-circle h1{
        font-size: 4.8125rem;
        padding: 2.375rem 1.25rem 0 1.25rem;
    }
    .score-circle p{
        width: 8.05rem;
        padding-bottom: 2.375rem;
        margin: auto;
    }
    .container-right-bottom{
        width: 18rem;
        border-radius: 2.1875rem;
        display: inline-block;
        position: absolute;
        padding: 2.4125rem 2.5rem 2.475rem 2.5rem;
        background-color: hsl(0, 0%, 100%);
    }
    .container-right-bottom h2{
        padding: 0 0 0.5625rem;
    }
    .summary-row{
        width: 16.125rem;
        padding: 1.25rem 0.9375rem;
        font-size: 1.125rem;
        font-weight: bold;
        margin: 0.875rem 0;
        border-radius: 0.9375rem;
    }
    .summary-row p{
        margin: 0;
    }
    .summary-row svg{
        float: left;
    }
    .summary-row span{
        padding: 0 0 0 0.625rem;
    }
    .reaction{
        color: hsl(0, 100%, 67%);
        background-color: hsla(0, 100%, 67%,.04);
    }
    .memory{
        color: hsl(39, 100%, 56%);
        background-color: hsla(39, 100%, 56%,.04);
    }
    .verbal{
        color: hsl(166, 100%, 37%);
        background-color: hsla(166, 100%, 37%,.04);
    }
    .visual{
        color: hsl(234, 85%, 45%);
        background-color: hsla(234, 85%, 45%,.04);
    }
    .score{
        color: hsl(224, 30%, 27%);
        float: right;
        padding: 0 0.625rem 0 0;
    }
    .score span{
        color: hsla(224, 30%, 27%,.5);
        padding-left: 0.1875rem;
    }
    .btn{
        width: 18rem;
        border-radius: 1.75rem;
        border-width: 0;
        padding: 0.83125rem 1.25rem;
        font-size: 1.125rem;
        font-weight: bold;
        font-family: inherit;
        color: hsl(0, 0%, 100%);
        background-color: hsl(224, 30%, 27%);
        margin: 1.0625rem 0 0;
    }
    .btn:hover{
        background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    }
    .attribution{
        margin: 17.3rem 0 0;
        font-size: 0.6875rem;
        text-align: center;
    }
    .attribution a{
        color: hsl(228, 45%, 44%);
    }
}
@media(orientation: portrait){
    body{
        margin: 0;
        font-family: 'Hanken Grotesk', sans-serif;
        background-color: hsla(221, 100%, 96%,0.1);
    }
    h1{
        color: hsl(0, 0%, 100%);
        margin: 0;
        font-size: 1.3rem;
    }
    h2{
        margin: 0;
        font-size: 1.05rem;
    }
    .container-full{
        width: 23.4375rem;
        margin: 0 auto;
        border-radius: 2.3125rem;
        background-color: hsl(0, 0%, 100%);
    }
    .container-left-top{
        width: 23.4375rem;
        border-radius: 0 0 2.1875rem 2.1875rem;
        padding: 1.6125rem 0 2.55625rem 0;
        text-align: center;
        display: inline-block;
        color: hsl(241, 100%, 89%);
        background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    }
    .container-left-top p{
        width: 17.75rem;
        margin: 0.85625rem auto 0;
        font-size: 1rem;
    }
    .score-circle{
        width: 8.625rem;
        margin: 1.475rem auto;
        border-radius: 4.3125rem;
        background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    }
    .score-circle h1{
        font-size: 3.8125rem;
        padding: 1.1875rem 1.25rem 0 1.25rem;
    }
    .score-circle p{
        width: 8.05rem;
        padding-bottom: 1.1875rem;
        margin: auto;
    }
    .container-right-bottom{
        width: 19.6875rem;
        border-radius: 2.1875rem;
        display: inline-block;
        padding: 1.375rem 1.875rem 0.9625rem;
        background-color: hsl(0, 0%, 100%);
    }
    .container-right-bottom h2{
        padding: 0 0 0.4375rem;
    }
    .summary-row{
        width: 17.8125rem;
        padding: 1.15625rem 0.9375rem;
        font-size: 1.125rem;
        font-weight: bold;
        margin: 0.875rem 0;
        border-radius: 0.9375rem;
    }
    .summary-row p{
        margin: 0;
    }
    .summary-row svg{
        float: left;
    }
    .summary-row span{
        padding: 0 0 0 0.625rem;
    }
    .reaction{
        color: hsl(0, 100%, 67%);
        background-color: hsla(0, 100%, 67%,.04);
    }
    .memory{
        color: hsl(39, 100%, 56%);
        background-color: hsla(39, 100%, 56%,.04);
    }
    .verbal{
        color: hsl(166, 100%, 37%);
        background-color: hsla(166, 100%, 37%,.04);
    }
    .visual{
        color: hsl(234, 85%, 45%);
        background-color: hsla(234, 85%, 45%,.04);
    }
    .score{
        color: hsl(224, 30%, 27%);
        float: right;
        padding: 0 0.625rem 0 0;
    }
    .score span{
        color: hsla(224, 30%, 27%,.5);
        padding-left: 0.1875rem;
    }
    .btn{
        width: 19.6875rem;
        border-radius: 1.75rem;
        border-width: 0;
        padding: 0.83125rem 1.25rem;
        font-size: 1.125rem;
        font-weight: bold;
        font-family: inherit;
        color: hsl(0, 0%, 100%);
        background-color: hsl(224, 30%, 27%);
        margin: 0.5rem 0 0;
    }
    .btn:hover{
        background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    }
    .attribution{
        margin: 0;
        font-size: 0.6875rem;
        text-align: center;
    }
    .attribution a{
        color: hsl(228, 45%, 44%);
    }
}
